<div class='configs-list'>
	<table>
		<colgroup>
			<col class="col-config-name">
			<col class="col-config-desc">
			<col class="col-config-user">
		</colgroup>
		<tbody>
			<%= render partial: 'configs/config', collection: configs %>
		<tdoby>
	</table>
</div>
