<h1>
Configs
<%=
	if current_user
		link_to 'Create', new_config_path, class: 'button'
	else
		link_to 'Login for creation', new_user_session_path, class: 'button'
	end
%>
</h1>

<%= render partial: 'configs', locals: {configs:@configs} %>